[submodule "frontend"]
	path = frontend
	url = https://github.com/emreozcan3320/quote-kubernetes-application-web.git
[submodule "backend"]
	path = backend
	url = https://github.com/emreozcan3320/quote-kubernetes-application-api.git
